{{!
renders a json-schema without the surrounding panel.
}}
{{#if description}}
    <section class="json-schema-description">
        {{md description}}
    </section>
{{/if}}
{{#if example}}
    <section class="json-schema-example">
        {{json example}}
    </section>
{{/if}}
{{#if $ref}}
    {{>json-schema/reference $ref}}
{{else ifeq type 'object'}}
    {{>json-schema/properties}}
    {{#if additionalProperties}}
        {{>json-schema/additionalProperties additionalProperties}}
    {{/if}}
{{else ifeq type 'array'}}
    {{>json-schema/array-items items}}
{{else}}
    {{>json-schema/datatype .}}
{{/if}}

{{#if allOf}}
    {{>json-schema/allOf allOf}}
{{/if}}
{{#if anyOf}}
    {{>json-schema/anyOf anyOf}}
{{/if}}
